body{
    background-color: #E1EEBA;
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}


ul>li{
    color: #7C8959;
    list-style:none ;
}

a{
    text-decoration: none;
    color: #303523;
    font-weight: 400;
    font-family:Arial, Helvetica, sans-serif;
}

ul{
    display: flex;
    justify-content: center;
    gap: 3vw;
    padding-top: 10px;
    font-size: 1.2em;
}

.blocTitre{
    display: flex;
    /* justify-content: center; */
    align-items: center;
    flex-direction: column;
}

img{
    width: 300px;
    transform: translateY(100px);
    z-index: -1;
    opacity: 0;
    animation: apparition2 0.4s 1.3s ease-out forwards;
}


.titre{
    margin-top: 50px;
    font-size: 5em;
    z-index: 5;
}

.horaires{
    padding-right: 380px;
    opacity: 0;
    transform: translateY(-30px);
    animation: apparition 0.4s 0.8s ease-out forwards;
    
}

.flexStatue{
    display:flex;
}

button{
    padding: 5px 15px;
    opacity: 0;
    transform: translateY(-30px);
    animation: apparition 0.4s 1s ease-out forwards;
}

.un{
background: transparent;
border: 1px solid black;
}

.deux{
    background:#2E2D2E;
    color: white;
    border: #2E2D2E 1px solid;
}

html{
    overflow: hidden;
}

@keyframes apparition{
    100%{
        opacity: 1;
        transform: none;
    }
}

nav{
    animation: apparition 0.4s 1.6s ease-out forwards;
    transform: translateY(-100px);
    opacity: 0;
}

span{
    opacity: 0;
    transform: translateY(-30px);
    display: inline-block;
    color: black;
}
span:nth-child(1){
    animation: apparition 0.4s 0.2s ease-out forwards;
}



span:nth-child(3){
    animation: apparition 0.4s 0.4s ease-out forwards;
}

span:nth-child(5){
    animation: apparition 0.4s 0.6s ease-out forwards;
}

@keyframes apparition2{
    100%{
        opacity: 1;
        /* transform: none; */
        transform: translateX(-30px);
    }
}